// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// userのinfo
.all_user_info{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffe350;
}

.all_center_user_info{
  width: 90%;
  margin: 0 auto;
  background: #fefefe;
}

.info-btn{
  width: 90%;
  margin: 0 auto;
  background: #fefefe;
}