  <div class="all_top d-flex align-items-center justify-content-center">
    <div class="text_top">
      <h1><strong>!! SUKI---MA へようこそ !!</strong></h1>
      </br>
      <p>
        <strong>
          ずっと頑張り続けることは大変。</br>
          いつも頑張っているから少しでもできたスキマ時間には休憩したい。</br>
          でも頑張る時間も大切だから長時間の休憩は避けたい。</br>
          <br>
          勉強、仕事、家事、育児などで頑張っている間にできたスキマ時間。</br>
          そんな時間にしっかりとリフレッシュできる方法はないかな…？？</br>
          </br>
          様々な短時間(5分~15分)の休憩方法を共有することで、</br>
          スキマ時間にぴったりな短時間の休憩方法を見つけて次の頑張りに繋げられるサイト。
        </strong>
      </p>
    </div>
  </div>


