  <div class="all_top d-flex align-items-center justify-content-center">
    <div class="text_top">
      <h1><strong>!! SUKI---MA へようこそ !!</strong></h1>
      </br>
      <p>
        <strong>
          ずっと頑張り続けることは大変。</br>
          少し休憩したい。</br>
          でも頑張る時間も大切だから長時間の休憩は避けたい。</br>
          短時間でしっかりとリフレッシュできる方法はないかな…？？</br>
          </br>
          様々な短時間(5分~15分)の休憩方法を共有することで、</br>
          自分に合った短時間の休憩方法を見つけて次の頑張りに繋げられるサイト。
        </strong>
      </p>
    </div>
  </div>


