<table>
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <thead>
        <th>
          <%= link_to user_path(post_comment.user) do %>
            <%= post_comment.user.nickname %>
          <% end %>
          さん
        </th>
      </thead>
      <tbody>
        <td></td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to "管理者削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right ml-5", data: {confirm: "このコメントを削除しますか？"} %>
          <% end %>
        </td>
      </tbody>
      <% end %>
  </tbody>
</table>