<% post.post_comments.each do |post_comment| %>
  <div class="comment mt-3">
    <div>
      <strong>
        <%= link_to user_path(post_comment.user) do %>
          <%= post_comment.user.nickname %>
        <% end %>
        さん
      </strong>
    </div>
    <div class="ml-4">
      <%= post_comment.comment%>
    </div>
    <div class="admin_btn">
      <% if admin_signed_in? %>
        <%= link_to "管理者削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right my-1", data: {confirm: "このコメントを削除しますか？"} %>
      <% end %>
    </div>
  </div>
<% end %>
