/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .full-page{
    width: 100%;
    height: 100%;
    background: #fffcef;
    color: #7c5341;
  }

  header{
    width: 100%;
    height:85px;
    background: #ffe350;
    margin-bottom: 30px;
  }

  .header_welcom{
    color: #7c5341;
    font-size: 15px;
    margin-top: 10px;
  }

  .nav_1{
    background: #9bca54;
    margin-left: 5px;
    border-radius: 10px;
  }

  .nav_2{
    background: #dc5f62;
    margin-left: 5px;
    border-radius: 10px;
  }

  .nav_3{
    background: #61b0e2;
    margin-left: 5px;
    border-radius: 10px;
  }

  .nav_4{
    background: #a3b6de;
    margin-left: 5px;
    border-radius: 10px;
  }
