<div class='container my-5 py-5'>
  <div class='row pt-5 justify-content-center'>
    <h3 class='font-weight-bold'>本当に退会しますか？</h3>
  </div>
  <div class='row pt-5 pb-5 justify-content-center'>
      <h4 class='text-center'>
        退会すると、会員登録情報や</br>
        これまでの投稿、お気に入りのデータが削除されます。</br>
        退会する場合は、「退会する」をクリックしてください。
      </h4>
  </div>
  <div class='row justify-content-center'>
    <%= link_to "退会しない", user_path(@user), class: 'col-md-2 mx-2 btn btn-primary' %>
    <%= link_to "退会する",  user_path(@user), method: :delete, class: 'col-md-2 mx-2 btn btn-danger' %>
  </div>
</div>
